<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/replays.css">
    </head>
    <body>
        <div class="wnd-wrp wnd-replays-wrp" style="width: 100%;height: 100%;">
            <div class="wnd wnd-replays -active" style="width: 100%;height: 100%;">
                <div class="wnd-borders-wrp">
                    <div class="wnd-brd wnd-brd-t"></div>
                    <div class="wnd-brd wnd-brd-b"></div>
                    <div class="wnd-brd wnd-brd-l"></div>
                    <div class="wnd-brd wnd-brd-r"></div>
                    <div class="wnd-brd wnd-brd-tl"></div>
                    <div class="wnd-brd wnd-brd-tr"></div>
                    <div class="wnd-brd wnd-brd-bl"></div>
                    <div class="wnd-brd wnd-brd-br"></div>
                    <div class="wnd-brd wnd-brd-c"></div>
                </div>
                <div class="wnd-header-wrp">Настройки</div>
                <div class="wnd-cont-wrp">

                </div>
                <div class="wnd-shadow-wrp"></div>
            </div>
        </div>
        <script src="../controllers/settings.js"></script>
    </body>
</html>