<div class="view-replays-listItem view-replays-common -com-bg -com-rounded -com-shadow -com-shadowEffect" data-action="hover-replay-info">
    <div class="view-replays-listItemInfo">
        <div
            class="view-replays-listItemName lenLim"
            tabindex="-1">
            <div class="view-replays-listItemNameTag">
                <div class="clipboard-wrp js-clipboard-wrp">
                    <div
                        class="clipboard-tag-block -active js-clipboard-replay-name nobr"
                        data-clipboard-text="58b5a7b71faa663c955c9816225960f648f9cf02">
                        <span class="clipboard-tag -sel js-clipboard-tag">58b5a7b71faa663c955c9816225960f648f9cf02</span>
                        &nbsp;
                        <button class="clipboard-button" data-action="clipboard-replay-name">
                            <span class="clipboard-button-text">Скопировать</span>&nbsp;
                            <span
                                class="clipboard-status js-clipboard-status">
                            </span>
                            <span
                                class="helpIcon"
                                data-title="Ты можешь вставить это, к примеру, в письмо или описание">
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="view-replays-listItemNameText js-replay-name"></div>
            <img class="view-replays-listItemNameImg js-replay-countryflag-image" src="" alt="FLAG"></img>
        </div> 
    </div>
    <span class="view-replays-listItemRules">Волн: 0</span>
    <div
        class="view-replays-listItemOption -editReplay button2 -type-menu"
        data-title="Перейти к редактированию шаблона этой тактики"
        data-action="edit-replay">
    </div>
    <div
        class="view-replays-listItemOption -deleteReplay button2 -type-delete"
        data-title="Удалить шаблон этой тактики"
        data-action="delete-replay">
    </div>
    <div class="view-replays-listItemOption" data-action="play-replay">
        <button class="button1 -type-green">Воспроизвести</button>
    </div>
</div>